{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>KPI</title>
  </head>

  <body>
    <header>
      <h1>KPI Dashboard</h1>
      <nav>
        <div class="navbar-fixed">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;SEEF</a
              >
            </li>
          </ul>

          <ul class="right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>

            <li>
              <form
                action="{% url 'logout' %}"
                method="post"
                style="display: inline"
              >
                {% csrf_token %}
                <button type="submit" class="btn-flat white-text">
                  Log out
                </button>
              </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}

            <li><a href="{% url 'dashboard' %}">Dashboards</a></li>

            {# ---- ROLE-BASED NAV MENU ---- #} {% if user.is_authenticated and
            user.employeeprofile %} {# ADMIN #} {% if user.employeeprofile.role
            == 'admin' %}
            <li><a href="{% url 'index' %}">View KPI</a></li>
            {% endif %} {# MANAGER #} {% if user.employeeprofile.role ==
            'manager' %}
            <li><a href="{% url 'assign_kpi' %}">Assign KPI</a></li>
            <li><a href="{% url 'employee_kpi_list' %}">Team KPIs</a></li>
            {% endif %} {# EMPLOYEE #} {% if user.employeeprofile.role ==
            'employee' %}
            <li><a href="{% url 'progress' %}">Add Progress</a></li>
            <li><a href="{% url 'employee_kpi' %}">My KPIs</a></li>
            {% endif %} {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>
  </body>
</html>
