{% extends 'base.html'%} {% block content%}
<h1>All KPIs</h1>

<!-- {% for kpi in kpis %}
<div class="card">
  <a href="{% url 'detail' kpi.id%}">
    <div class="card-content">
      <h5>{{kpi.title}}</h5>
      <h6>department: {{kpi.department}}</h6>
    </div>
  </a>
</div>
{% endfor %} -->

<table>
  <thead>
    <tr>
      <th>KPI Name</th>
      <th>Category</th>

      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for kpi in kpis %}
    <tr>
      <td>{{kpi.title}}</td>
      <td>{{kpi.department}}</td>
      <td>
        <a href="{% url 'detail' kpi.id%}"><button>Details</button></a>
        <a href=""><button>Edit</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
