{% extends 'base.html' %}
{% block content %}
<h2>Edit KPI</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<a href="{% url 'employee_kpi_list' %}">Back</a>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let employeeSelect = document.getElementById('id_employee')
    let kpiSelect = document.getElementById('id_kpi')

    M.FormSelect.init(employeeSelect)
    M.FormSelect.init(kpiSelect)
  })
</script>
{% endblock %}
