{% extends 'base.html' %} {% load static %} {% block content %}

<div class="dashboard-container">
  <div class="sidebar">
    <ul>
      <li><a href="#">Company</a></li>
      <li><a href="{% url 'employee_dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'progress' %}">Update Progress</a></li>
      <li><a href="{% url 'employee_kpi' %}">My KPIs</a></li>
    </ul>
  </div>

  <div class="dashboard-content">
    <h2>Employee Dashboard</h2>
    <p>Welcome, {{ employee_name }}</p>
    <p>Role: {{ role }}</p>

    <h3>KPI Overview</h3>

    <div class="kpi-grid">
      {% for kpi in kpi_cards %}
      <div class="kpi-item">
        <h4>{{ kpi.title }}</h4>
        <p>Target: {{ kpi.target }}</p>
        <p>Progress: {{ kpi.progress }}</p>
        <p>Deadline: {{ kpi.days_left }} days left</p>
        <a href="{% url 'progress' %}"><button>Add Update</button></a>
      </div>
      {% endfor %}
    </div>

    <div class="kpi-box">
      <canvas id="employeeChart"></canvas>
    </div>
  </div>
</div>

<script>
  const employeeLabels = {{ chart_labels|safe }};
  const employeeValues = {{ chart_values|safe }};

  new Chart(document.getElementById("employeeChart"), {
      type: "line",
      data: {
          labels: employeeLabels,
          datasets: [{
              label: "Progress (%)",
              data: employeeValues,
              borderWidth: 2,
              tension: 0.3
          }]
      }
  });
</script>

{% endblock %}
