body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.dashboard-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.navbar-fixed {
  background-color: gray;
}

table {
  border-collapse: collapse;
  width: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: 600;
}

tr:hover {
  background-color: #f9f9f9;
}

button {
  background-color: rgb(5, 5, 67);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: rgb(42, 42, 106);
}

.add-user-container {
  background: #fafafa;
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto;
}

.add-user-container label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

.add-user-container input,
.add-user-container select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-user-container button {
  background-color: #2e026d;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
